body {
    background-image: linear-gradient(to right top, #168ebc, #2997c2, #39a1c8, #47aacd, #54b4d3);
    background-repeat: no-repeat;
    background-size: 100%;
}

header h1 {
    text-shadow: 1px 1px 2px white, 0 0 0.2em #54B4D3;
}

#search_form input, button{
    width: -webkit-fill-available;
}